In [5]:
import math

from langchain_core.tools import tool
from langchain_community.utilities import SQLDatabase
from app.config import database
from core.chains.sql.utils import get_db
import urllib
from langchain_openai import ChatOpenAI
import json
import os
from dotenv import load_dotenv
from langchain_community.agent_toolkits import create_sql_agent
from langchain_community.agent_toolkits import SQLDatabaseToolkit

load_dotenv()
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

include_tables = {"rpt_customer_profile", "rpt_order_details_report"}

mysql_user = os.getenv("DB_USER")
mysql_password = urllib.parse.quote_plus(os.getenv("DB_PASSWORD"))
mysql_host = os.getenv("DB_HOST")
encoded_password = (mysql_password)
mysql_uri = f"mysql+pymysql://{mysql_user}:{encoded_password}@{mysql_host}:3306/vnv"
db = SQLDatabase.from_uri(mysql_uri, {}, include_tables=include_tables)
# 
# llm = ChatOpenAI(model="gpt-4o", temperature=0)
# create_sql_agent(llm, db=db, verbose=True)
toolkit = SQLDatabaseToolkit(db=db, llm=ChatOpenAI(model="gpt-4o"))
tools = toolkit.get_tools()

@tool
def format_in_indian_currency(amount):
    """Converts a numeric amount into Indian rupee format with Lakhs/Crores."""
    amount = math.ceil(amount)
    if amount >= 10000000:  # 1e7 = 1,00,00,000
        return f"{amount / 10000000:.2f} Crores"
    elif amount >= 100000:  # 1e5 = 1,00,000
        return f"{amount / 100000:.2f} Lakhs"
    else:
        return f"â‚¹{amount:,}"
    
tools.extend([format_in_indian_currency])
# print(tools)
# list_tables_tool = next(tool for tool in tools if tool.name == "sql_db_list_tables")
# print(list_tables_tool.invoke(""))
# get_schema_tool = next(tool for tool in tools if tool.name == "sql_db_schema")
# print(get_schema_tool.invoke("rpt_customer_profile"))

In [8]:
from langgraph.prebuilt import create_react_agent
from langgraph.graph import add_messages
from langchain_core.messages import AnyMessage
from typing import TypedDict, Annotated

prompt = """You are a SQL expert with a strong attention to detail.
Given an input question, output a syntactically correct MySql query to run, then look at the results of the query and return the answer using the guidelines mentioned below.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
If you get an error while executing a query, rewrite the query and try again.
If you get an empty result set, you should try to rewrite the query to get a non-empty result set.
NEVER make stuff up if you don't have enough information to answer the query... just say you don't have enough information.
If you have enough information to answer the input question, provide a concise final answer to the user.
DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

Guidelines for the final answer:
1. Keep the tone conversational and friendly.
2. Analyse the result data and try to provide a trend or analysis if possible.
3. Provide suggestions on similar questions related to the question asked.
"""

class State(TypedDict):
    messages: Annotated[list[AnyMessage], add_messages]
    
llm = ChatOpenAI(model="gpt-4o", temperature=0)
# model = llm.bind_tools(tools)

graph = create_react_agent(llm, tools, state_modifier=prompt)
inputs = {"messages": [("user", "most selling products in  2023")]}
for s in graph.stream(inputs, stream_mode="values"):
     message = s["messages"][-1]
     if isinstance(message, tuple):
         print(message)
     else:
         message.pretty_print()

================================ Human Message =================================

most selling products in  2023
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_RR4QJa2hVduH2GR8WM4ceY7d)
 Call ID: call_RR4QJa2hVduH2GR8WM4ceY7d
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

rpt_customer_profile, rpt_order_details_report
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_eMo1oK0UPEXskgkBwRrQFtpY)
 Call ID: call_eMo1oK0UPEXskgkBwRrQFtpY
  Args:
    table_names: rpt_order_details_report
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE rpt_order_details_report (
	order_id INTEGER UNSIGNED NOT NULL DEFAULT '0',
	customer_id INTEGER UNSIGNED,
	first_name VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	last_name VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	phone_no VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	email VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	address TEXT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	city VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	transaction_date DATE,
	product_name VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	product_sku VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	sku_color VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	product_category VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	brand VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	product_gender VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'custom',
	total_order_value DECIMAL(8, 2) NOT NULL,
	order_status VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
	order_store_type VARCHAR(7) NOT NULL DEFAULT '',
	order_store_city VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
	order_store_name VARCHAR(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from rpt_order_details_report table:
order_id	customer_id	first_name	last_name	phone_no	email	address	city	transaction_date	product_name	product_sku	sku_color	product_category	brand	product_gender	total_order_value	order_status	order_store_type	order_store_city	order_store_name
3	None	emilia	bergmans	9910817961	None	d65 gulmohar park
d65 gulmohar park, , delhi, 110049	delhi	2016-07-06	Archived Product	J95362-6	Black	None	Unknown	custom	4599.00	completed	Digital	Delhi	Online
4	11	Uday	shanker	9886665092	uday@vegnonveg.com	bhane, shop 135, meherchand market
nr. lodhi colony, , delhi, 110003	delhi	2016-07-25	Archived Product	S78678-10	Black	None	Unknown	custom	1559.00	completed	Digital	Delhi	Online
5	15	Sonam	Kapoor	00919821014000	sonamakapoor@gmail.com	31, shringhar presidency soc.
Ns Rd no 7 JVPD scheme, , Mumbai, 400049	Mumbai	2016-07-26	Archived Product	G17100-7	Black	None	Unknown	custom	5999.00	completed	Digital	Delhi	Online
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_4ptFoKccLlAPqBngHVnlTchp)
 Call ID: call_4ptFoKccLlAPqBngHVnlTchp
  Args:
    query: SELECT product_name, COUNT(*) as sales_count FROM rpt_order_details_report WHERE YEAR(transaction_date) = 2023 GROUP BY product_name ORDER BY sales_count DESC LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT product_name, COUNT(*) as sales_count
FROM rpt_order_details_report
WHERE YEAR(transaction_date) = 2023
GROUP BY product_name
ORDER BY sales_count DESC
LIMIT 5;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_PHI44TMGkVhYarOhuLcU97I2)
 Call ID: call_PHI44TMGkVhYarOhuLcU97I2
  Args:
    query: SELECT product_name, COUNT(*) as sales_count FROM rpt_order_details_report WHERE YEAR(transaction_date) = 2023 GROUP BY product_name ORDER BY sales_count DESC LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query

[("AIR FORCE 1 '07 'WHITE'", 7878), ("CHUCK 70 HIGH VINTAGE CANVAS 'BLACK/EGRET'", 5532), ("AIR JORDAN 1 MID 'WHITE/GYM RED-BLACK'", 3410), ("JORDAN BREAK SLIDE 'BLACK/WHITE'", 3312), ("AIR JORDAN 1 MID 'BLACK/FIRE RED-WHITE'", 2786)]
================================== Ai Message ==================================

The most selling products in 2023 are:

1. **AIR FORCE 1 '07 'WHITE'** with 7,878 sales.
2. **CHUCK 70 HIGH VINTAGE CANVAS 'BLACK/EGRET'** with 5,532 sales.
3. **AIR JORDAN 1 MID 'WHITE/GYM RED-BLACK'** with 3,410 sales.
4. **JORDAN BREAK SLIDE 'BLACK/WHITE'** with 3,312 sales.
5. **AIR JORDAN 1 MID 'BLACK/FIRE RED-WHITE'** with 2,786 sales.

It seems like the AIR FORCE 1 '07 'WHITE' is particularly popular this year! If you're interested, you might want to explore trends in specific product categories or brands, or even look into the sales performance of these products in previous years.